@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');

body {
  @apply p-2 bg-slate-200;
}

.box {
  @apply min-w-full
		h-32
		min-h-full
		rounded;
}

.OB {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #929292;
}

.OB__header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(31, 41, 55, var(--tw-text-opacity));
  border-bottom: 1px solid #929292;
}

.OB__header1 {
  border-bottom: 1px solid #929292;
}

.OB__header2 {
  display: flex;
}

.OB__header3 {
  display: flex;
  place-content: space-evenly;
}

.OB__header3 > * {
  /* border: 1px solid #929292; */
  flex-direction: row;
}

.OB__header2 > * {
  flex-basis: 50%;
  border-top: 1px solid #929292;
}

.OB__header2 > *:nth-child(1) {
  border-right: 1px solid #929292;
}

.OB__S {
  flex-basis: auto;
  height: 2em;
  display: flex;
  align-items: center;
  border: 1px solid #929292;
}

.OB__SP,
.OB__SL {
  flex-basis: 50%;
}

.OB__SL {
  font-family: 'PT Sans', sans-serif;
  text-align: right;
}

.OB__SP {
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.OBP {
  font-family: 'PT Mono', monospace;
  text-align: center;
  display: flex;
  overflow-y: hidden;
}

.OBP--sell {
  color: white;
  flex-direction: column;
}

.OBP--ask {
  color: white;
  flex-direction: column-reverse;
}

.OBP__order {
  padding: 4px;
  display: flex;
  font-size: 80%;
}

.OBP__order:nth-child(2n) {
  background-color: #111111;
}

.OBP__order > * {
  flex-basis: 50%;
}

.OBP__size {
  display: flex;
  justify-content: center;
  position: relative;
}

.OBP__bar {
  height: 100%;
  position: absolute;
  left: 0;
}

.OBP--sell .OBP__bar {
  background-color: #10b981;
}

.OBP--ask .OBP__bar {
  background-color: #ef4444;
}
